<div class="top-row px-4 navbar navbar-dark container-fluid">
    <nav class="d-flex flex-row px-2 w-100 align-items-center">
        <div class="navbar-brand">Products Manager</div>
        <div class="nav-item ps-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Index
            </NavLink>
        </div>
        <div class="nav-item ps-3">
            <NavLink class="nav-link" href="create">
                <span class="oi oi-plus" aria-hidden="true"></span> Create
            </NavLink>
        </div>
        <div class="nav-item ps-3">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-list" aria-hidden="true"></span>
                Report
            </NavLink>
        </div>
        <div class="nav-item ms-auto d-flex align-items-center gap-3 text-white username">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            <span>User</span>
        </div>
    </nav>
</div>

<!--
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
-->
