.top-row {
    height: 4rem;
    background: #00464f;
    box-shadow: 0 2px 6px rgb(0 0 0 / 50%);
    position: sticky;
    top: 0;
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 2rem;
}

.oi {
    height: 100%;
    font-size: 1.1rem;
    margin-top: -2px;
    margin-right: 0.8rem;
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: #d5d5d5;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0.15);
    }

        .nav-item ::deep a.active, .nav-item ::deep a:active {
            background-color: rgba(255,255,255,0.25) !important;
            color: white;
        }

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

svg {
    height: 1.75rem;
    color: white;
}

.username {
    padding: 0.5rem 1.4rem 0.5rem 1.25rem;
    margin-top: -0.2rem;
    background-color: rgba(0,0,0,0.15);
    border-radius: 8px;
}
