@inherits LayoutComponentBase

<PageTitle>ProductsManager</PageTitle>

<div class="page">
    <main>
        <HeaderBar />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
